<div class="t-wrapper">
    <div class="t-header">
        <div class="t-header-inner">
            <button class="btn-back">
                <img src="./assets/images/backbtn.svg" alt="">
            </button>
            <h6>covid pass</h6>
            <span>set pin</span>
        </div>
    </div>
    <div class="t-body">
        <div class="signup-content scaled-content">
            <p class="short-desc p-t-15">your account is created!</p>
            <h4 class="big-heading">set pin number</h4>
            <div class="f-form">
                <form novalidate>
                    <div class="f-row">
                        <div class="f-100">
                            <div class="f-wrap">
                                <div class="otp-inputs">
                                    <label class="sm-label">enter pin</label>
                                    <div class="opt-group">
                                        <div class="opt-input">
                                            <input type="text" class="f-field form-control" value="">
                                        </div>
                                        <div class="opt-input">
                                            <input type="text" class="f-field form-control" value="">
                                        </div>
                                        <div class="opt-input">
                                            <input type="text" class="f-field form-control" value="">
                                        </div>
                                        <div class="opt-input">
                                            <input type="text" class="f-field form-control" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sp-row">
                        <div class="sp-col col50">
                            <button type="button" class="btn btn-solid btn-white btn-bordered" (click)="btnClick();">skip</button>
                        </div>
                        <div class="sp-col col50">
                            <button type="button" class="btn btn-solid btn-dark" (click)="btnClick();">next</button>
                        </div>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>