<div class="sp-wrapper">
    <div class="sp-inner">
        <div class="sp-body">
            <h4 class="sp-title">business name</h4>
            <ul class="sp-details">
                <li>
                    <h6>honolulu</h6>
                </li>
                <li>
                    <h6>since 2010</h6>
                </li>
            </ul>
            <p class="sp-desc">local’s favorite <br/>brunch restaurant</p>
        </div>
        <div class="sp-footer">
            <div class="sp-row">
                <div class="sp-col col50">
                    <a [routerLink]="[ '/user/buyer/info' ]" class="btn btn-solid btn-dark">info</a>
                </div>
                <div class="sp-col col50">
                    <a [routerLink]="[ '/user/buyer/covid-pass' ]" class="btn btn-solid btn-dark">covid pass</a>
                </div>
            </div>
            <div class="sp-row">
                <div class="sp-col col100">
                    <a [routerLink]="[ '/user/buyer/menu' ]" class="btn btn-solid btn-white">menu</a>
                </div>
            </div>
        </div>
    </div>
</div>