<div class="t-wrapper">
    <div class="t-header">
        <div class="t-header-inner p-l-0">
            <h6>covid pass</h6>
        </div>
    </div>
    <div class="t-body p-t-30 signup-wrap">
        <div class="signup-content">
            <div class="paas-wrapper">
                <div class="paas-filter p-b-30">
                    <div class="s-select">
                        <ng-select [searchable]="false" [clearable]="false" [items]="timings" [(ngModel)]="selectedOption"></ng-select>
                    </div>
                </div>
                <div class="paas-body">
                    <div class="paas-header">
                        <div class="paas-cell">
                            <h4>yogurstory</h4>
                        </div>
                        <div class="paas-cell">
                            <button class="btn-trans">
                                <img src="./assets/images/search.svg" alt="">
                            </button>
                        </div>
                    </div>
                    <div class="paas-content">
                        <h5 class="paas-table-heading">today</h5>
                        <div class="paas-table">
                            <table class="table-details">
                                <thead>
                                    <tr>
                                        <th>name</th>
                                        <th>guests</th>
                                        <th>time</th>
                                        <th>status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>jhon doe</td>
                                        <td>2</td>
                                        <td>3:00 pm</td>
                                        <td>
                                            <span class="status">
                                                <img src="./assets/images/checkmark.svg" alt="">
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>jhon doe</td>
                                        <td>2</td>
                                        <td>3:00 pm</td>
                                        <td>
                                            <span class="status">
                                                <img src="./assets/images/checkmark.svg" alt="">
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>jhon doe</td>
                                        <td>2</td>
                                        <td>3:00 pm</td>
                                        <td>
                                            <span class="status">
                                                <img src="./assets/images/checkmark.svg" alt="">
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>jhon doe</td>
                                        <td>2</td>
                                        <td>3:00 pm</td>
                                        <td>
                                            <span class="status">
                                                <img src="./assets/images/checkmark.svg" alt="">
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>jhon doe</td>
                                        <td>2</td>
                                        <td>3:00 pm</td>
                                        <td>
                                            <span class="status">
                                                <img src="./assets/images/checkmark.svg" alt="">
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>jhon doe</td>
                                        <td>2</td>
                                        <td>3:00 pm</td>
                                        <td>
                                            <span class="status">
                                                <img src="./assets/images/checkmark.svg" alt="">
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>jhon doe</td>
                                        <td>2</td>
                                        <td>3:00 pm</td>
                                        <td>
                                            <span class="status">
                                                <img src="./assets/images/checkmark.svg" alt="">
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>jhon doe</td>
                                        <td>2</td>
                                        <td>3:00 pm</td>
                                        <td>
                                            <span class="status">
                                                <img src="./assets/images/checkmark.svg" alt="">
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="paas-content">
                        <h5 class="paas-table-heading">yesterday</h5>
                        <div class="paas-table">
                            <table class="table-details">
                                <thead>
                                    <tr>
                                        <th>name</th>
                                        <th>guests</th>
                                        <th>time</th>
                                        <th>status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>jhon doe</td>
                                        <td>2</td>
                                        <td>3:00 pm</td>
                                        <td>
                                            <span class="status">
                                                <img src="./assets/images/checkmark.svg" alt="">
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>jhon doe</td>
                                        <td>2</td>
                                        <td>3:00 pm</td>
                                        <td>
                                            <span class="status">
                                                <img src="./assets/images/checkmark.svg" alt="">
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>jhon doe</td>
                                        <td>2</td>
                                        <td>3:00 pm</td>
                                        <td>
                                            <span class="status">
                                                <img src="./assets/images/checkmark.svg" alt="">
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>jhon doe</td>
                                        <td>2</td>
                                        <td>3:00 pm</td>
                                        <td>
                                            <span class="status">
                                                <img src="./assets/images/checkmark.svg" alt="">
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>jhon doe</td>
                                        <td>2</td>
                                        <td>3:00 pm</td>
                                        <td>
                                            <span class="status">
                                                <img src="./assets/images/checkmark.svg" alt="">
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>jhon doe</td>
                                        <td>2</td>
                                        <td>3:00 pm</td>
                                        <td>
                                            <span class="status">
                                                <img src="./assets/images/checkmark.svg" alt="">
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>jhon doe</td>
                                        <td>2</td>
                                        <td>3:00 pm</td>
                                        <td>
                                            <span class="status">
                                                <img src="./assets/images/checkmark.svg" alt="">
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>jhon doe</td>
                                        <td>2</td>
                                        <td>3:00 pm</td>
                                        <td>
                                            <span class="status">
                                                <img src="./assets/images/checkmark.svg" alt="">
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="sticky-btn">
                    <button class="btn-scan">
                        <img src="./assets/images/scan-qr.svg" alt="">
                    </button>
                    <p>scan</p>
                </div>
            </div>
        </div>
    </div>
</div>