<div class="blank"></div>
<div class="splash-step">
    <div class="splash-inner">
        <div class="splash-group">
            <label class="splash-label"><span class="step-count">2.</span>business location</label>
            <div class="splash-field m-t-1">
                <input type="text" class="form-field bg-light-grey" placeholder="city" />
            </div>
            <div class="splash-btn-wrap m-t-3">
                <a [routerLink]="[ '/user/seller/splash/splashthree' ]"  class="btn btn-solid btn-dark">next</a>
            </div>
        </div>
    </div>
</div>