<div class="t-wrapper">
    <div class="t-header t-head-wrap">
        <div class="t-header-inner">
            <button class="btn-back">
                <img src="./assets/images/backbtn.svg" alt="">
            </button>
            <h6>manage covid pass</h6>
        </div>
    </div>
    <div class="t-body">
        <div class="signup-content p-t-20">
            <div class="f-form">
                <div class="f-row">
                    <div class="f-33">
                        <label class="f-label">full name</label>
                        <div class="f-wrap m-b-20">
                            <p class="sel-value">robert</p>
                        </div>
                    </div>
                    <div class="f-33">
                        <label class="f-label">phone number</label>
                        <div class="f-wrap m-b-20">
                            <p class="sel-value">98888-6789</p>
                        </div>
                    </div>
                    <div class="f-33">
                        <label class="f-label">email</label>
                        <div class="f-wrap m-b-20">
                            <p class="sel-value">robert@hotmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="f-row">
                    <div class="f-100">
                        <label class="f-label">home address</label>
                        <div class="f-wrap m-b-20">
                            <p class="sel-value">262-5434410 ulupaina St. Kailua, Hawaii(HI), 96734 </p>
                        </div>
                    </div>
                </div>
                <div class="f-row">
                    <div class="f-100">
                        <label class="f-label big-label m-b-1">Cards</label>
                    </div>
                </div>
                <div class="f-row">
                    <div class="f-50">
                        <div class="f-wrap m-b-20">
                            <label class="upload-dotted-area border-solid" for="vaccineUpload">
                                <input type="file" id="vaccineUpload">
                                <img src="./assets/images/vaccine-img.png" alt="">
                            </label>
                            <label for="vaccineUpload" class="upload-name">vaccine card.jpeg</label>
                        </div>
                    </div>
                    <div class="f-50">
                        <div class="f-wrap m-b-20">
                            <label class="upload-dotted-area border-solid" for="idUpload">
                                <input type="file" id="idUpload">
                                <img src="./assets/images/id.png" alt="">
                            </label>
                            <label for="idUpload" class="upload-name">driving licence.jpeg</label>
                        </div>
                    </div>
                </div>
                
                <div class="sp-row p-b-30">
                    <div class="sp-col col100">
                        <button type="button" class="btn btn-solid btn-dark">confirm</button>
                    </div>
                </div>
                <div class="f-row">
                    <div class="f-100">
                        <label class="f-label big-label m-b-1">other guests</label>
                    </div>
                </div>
                <div class="f-row">
                    <div class="f-100">
                        <label class="f-label big-label bold-label">alex</label>
                    </div>
                    <div class="f-50">
                        <div class="f-wrap m-b-20">
                            <label class="upload-dotted-area border-solid" for="vaccineUpload1">
                                <input type="file" id="vaccineUpload1">
                                <img src="./assets/images/vaccine-img.png" alt="">
                            </label>
                            <label for="vaccineUpload1" class="upload-name">vaccine card.jpeg</label>
                        </div>
                    </div>
                    <div class="f-50">
                        <div class="f-wrap m-b-20">
                            <label class="upload-dotted-area border-solid" for="idUpload1">
                                <input type="file" id="idUpload1">
                                <img src="./assets/images/id.png" alt="">
                            </label>
                            <label for="idUpload1" class="upload-name">driving licence.jpeg</label>
                        </div>
                    </div>
                </div>
                <div class="f-row">
                    <div class="f-100">
                        <label class="f-label big-label bold-label">mary</label>
                    </div>
                    <div class="f-50">
                        <div class="f-wrap m-b-20">
                            <label class="upload-dotted-area border-solid" for="vaccineUpload2">
                                <input type="file" id="vaccineUpload2">
                                <img src="./assets/images/vaccine-img.png" alt="">
                            </label>
                            <label for="vaccineUpload2" class="upload-name">vaccine card.jpeg</label>
                        </div>
                    </div>
                    <div class="f-50">
                        <div class="f-wrap m-b-20">
                            <label class="upload-dotted-area border-solid" for="idUpload2">
                                <input type="file" id="idUpload2">
                                <img src="./assets/images/id.png" alt="">
                            </label>
                            <label for="idUpload2" class="upload-name">driving licence.jpeg</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>