<div class="t-wrapper">
    <div class="t-header t-head-wrap">
        <div class="t-head-l">
            <div class="t-header-inner">
                <button class="btn-back">
                    <img src="./assets/images/backbtn.svg" alt="">
                </button>
                <h6>covid pass</h6>
                <span>my account</span>
            </div>
        </div>
        <div class="t-head-r">
            <button class="btn-hamburger" (click)="toggleMenu()">
                <span></span>
                <span></span>
                <span></span>
            </button> 
            <span class="menu-overlay" *ngIf="openMenu" (click)="toggleMenu()"></span>
            <div class="users-menu" [ngClass]="{'active-menu': openMenu}">
                <div class="user-menu-header">
                    <div class="menu-header">
                        <span class="user-img">
                            <img src="./assets/images/user-img.png" alt="">
                        </span>
                        <h4>Robert Fox</h4>
                        <p>robert.fox@gmail.com</p>
                    </div>
                </div>
                <div class="user-menu-body">
                    <div class="user-inner-menu">
                        <h5 class="user-menu-heading">CUSTOMER OPTIONS</h5>
                        <ul class="user-menu-options">
                            <li>
                                <a [routerLink]="[ '/path' ]">
                                    <h4 class="um-title">business info</h4>
                                    <span class="um-icon">
                                        <img src="./assets/images/info.svg" alt="">
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="[ '/path' ]">
                                    <h4 class="um-title">covid pass</h4>
                                    <span class="um-icon">
                                        <img src="./assets/images/pass.svg" alt="">
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="[ '/path' ]">
                                    <h4 class="um-title">menu</h4>
                                    <span class="um-icon">
                                        <img src="./assets/images/venu.svg" alt="">
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="[ '/path' ]">
                                    <h4 class="um-title">history</h4>
                                    <span class="um-icon">
                                        <img src="./assets/images/history.svg" alt="">
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="user-inner-menu">
                        <h5 class="user-menu-heading">ADMIN OPTIONS</h5>
                        <ul class="user-menu-options">
                            <li>
                                <a [routerLink]="[ '/path' ]">
                                    <h4 class="um-title">menu editor</h4>
                                    <span class="um-icon">
                                        <img src="./assets/images/editor.svg" alt="">
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="[ '/path' ]">
                                    <h4 class="um-title">covid pass manager</h4>
                                    <span class="um-icon">
                                        <img src="./assets/images/pass-manager.svg" alt="">
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="user-menu-footer">
                    <ul class="user-menu-options">
                        <li>
                            <a [routerLink]="[ '/path' ]">
                                <h4 class="um-title">logout</h4>
                                <span class="um-icon">
                                    <img src="./assets/images/logout.svg" alt="">
                                </span>
                            </a>
                        </li>
                        <li>
                            <p class="poweredby">powered by <span><img src="./assets/images/qrb.svg" alt=""></span></p>
                        </li>
                    </ul>
                </div>
            </div> 
        </div>
    </div>
    <div class="t-body">
        <div class="signup-content p-t-20">
            <div class="v-header p-b-30">
                <div class="v-cell">
                    <h3 class="bold-heading">(808) 234-9383</h3>
                </div>
                <div class="v-cell">
                    <button class="btn-trans">
                        <img src="./assets/images/edt.svg" alt="">
                    </button>
                </div>
            </div>
            <div class="f-form">
                <form novalidate>
                    <div class="f-row">
                        <div class="f-50">
                            <div class="f-wrap">
                                <input type="text" class="f-field form-control" placeholder="name" value="">
                            </div>
                        </div>
                        <div class="f-50">
                            <div class="f-wrap">
                                <input type="text" class="f-field form-control" placeholder="phone number" value="">
                            </div>
                        </div>
                    </div>
                    <div class="f-row">
                        <div class="f-100">
                            <div class="f-wrap">
                                <input type="text" class="f-field form-control" placeholder="address" value="">
                            </div>
                        </div>
                    </div>
                    <div class="f-row">
                        <div class="f-50">
                            <label class="f-label">vaccine card</label>
                            <div class="f-wrap">
                                <label class="upload-dotted-area" for="vaccineUpload">
                                    <input type="file" id="vaccineUpload">
                                    <img src="./assets/images/camera.svg" alt="" class="camera">
                                </label>
                            </div>
                        </div>
                        <div class="f-50">
                            <label class="f-label">id</label>
                            <div class="f-wrap">
                                <label class="upload-dotted-area" for="idUpload">
                                    <input type="file" id="idUpload">
                                    <img src="./assets/images/camera.svg" alt="" class="camera">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="sp-row">
                        <div class="sp-col col100">
                            <button type="button" class="btn btn-outline-grey m-b-15">
                                <span>
                                    <img src="./assets/images/save.svg" alt="">
                                </span>
                                <h6>save</h6>
                            </button>
                            <button type="button" class="btn btn-outline-grey m-b-15">
                                <span>
                                    <img src="./assets/images/qr.svg" alt="">
                                </span>
                                <h6>qr code</h6>
                            </button>
                            <button type="button" class="btn btn-solid btn-dark btn-icon">
                                <span>
                                    <img src="./assets/images/fork.svg" alt="">
                                </span>
                                <h6>menu</h6>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>