<div class="t-wrapper">
    <div class="t-header t-head-wrap">
        <div class="t-header-inner">
            <button class="btn-back">
                <img src="./assets/images/backbtn.svg" alt="">
            </button>
            <h6>covid pass</h6>
            <span>attachments</span>
        </div>
    </div>
    <div class="t-body">
        <div class="signup-content p-t-20">
            <div class="f-form">
                <form novalidate>
                    
                    <div class="f-row">
                        <div class="f-50">
                            <label class="f-label">vaccine card</label>
                            <div class="f-wrap">
                                <label class="upload-dotted-area" for="vaccineUpload">
                                    <input type="file" id="vaccineUpload">
                                    <img src="./assets/images/camera.svg" alt="" class="camera">
                                </label>
                                <label for="vaccineUpload" class="upload-name">upload file</label>
                            </div>
                        </div>
                        <div class="f-50">
                            <label class="f-label">id</label>
                            <div class="f-wrap">
                                <label class="upload-dotted-area" for="idUpload">
                                    <input type="file" id="idUpload">
                                    <img src="./assets/images/camera.svg" alt="" class="camera">
                                </label>
                                <label for="idUpload" class="upload-name">upload file</label>
                            </div>
                        </div>
                    </div>
                    <div class="f-row">
                        <div class="f-100">
                            <label class="f-label big-label">other guests</label>
                            <div class="f-wrap">
                                <div class="input-with-icons">
                                    <input type="text" class="f-field form-control" placeholder="" value="andrew">
                                    <button class="btn-vaccine">
                                        <img src="./assets/images/injection.svg" alt="">
                                    </button>
                                    <button class="btn-id">
                                        <img src="./assets/images/pass-img.svg" alt="">
                                    </button>
                                    <button class="btn-input-clear">
                                        <img src="./assets/images/clear-cross.svg" alt="">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="f-row">
                        <div class="f-100">
                            <div class="f-wrap">
                                <button class="more-uploads">
                                    <span>
                                        <img src="./assets/images/upload-more.svg" alt="">
                                    </span>
                                    <h6>upload for other guests</h6>
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="sp-row">
                        <div class="sp-col col50">
                            <button class="btn btn-solid btn-white btn-bordered">skip</button>
                        </div>
                        <div class="sp-col col50">
                            <button class="btn btn-solid btn-dark">next</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>