<div class="text-align">Skip</div>
<div class="splash-step">
    <div class="splash-inner">
        <div class="splash-group">
            <label class="splash-label"><span class="step-count">5.</span>main photo/video</label>
            <div class="upload-field m-t-1">
                <label class="upload-option" for="main001">
                    <input type="file" id="main001">
                    <img src="./assets/images/plus-outlined.svg" alt="">
                </label>
            </div>
            <div class="splash-btn-wrap m-t-3">
                <a [routerLink]="[ '/user/seller/congratulations' ]"  class="btn btn-solid btn-dark">next</a>
            </div>
        </div>
        <div class="splash-msg">
            <p class="info-msg">The photos you upload here will be shown on your restaurant profile. You can add photos of the food or the ambience.</p>
        </div>
    </div>
</div>