.t-wrapper{
    .t-header{
        .t-header-inner{
            top:21px;
        }
    }
.scaled-content {   
    position: relative;
 .big-heading{
     padding-top: 17px;
 }
 .bottombtn{
    position: absolute;
    bottom: 0;
    width: 100%;
 }
}
}