<div class="splash-wrapper">
    <div class="container">
        <div class="splash">
            <div class="splash-header">
                <ul class="splash-bar">
                    <li>
                        <a [routerLink]="[ '/user/seller/splash/splashone' ]" routerLinkActive="active">&nbsp;</a>
                    </li>
                    <li>
                        <a [routerLink]="[ '/user/seller/splash/splashtwo' ]" routerLinkActive="active">&nbsp;</a>
                    </li>
                    <li>
                        <a [routerLink]="[ '/user/seller/splash/splashthree' ]" routerLinkActive="active">&nbsp;</a>
                    </li>
                    <li>
                        <a [routerLink]="[ '/user/seller/splash/splashfour' ]" routerLinkActive="active">&nbsp;</a>
                    </li>
                    <li>
                        <a [routerLink]="[ '/user/seller/splash/splashfive' ]" routerLinkActive="active">&nbsp;</a>
                    </li>
                </ul>                
            </div>           
            <div class="splash-body">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>