<form novalidate>
    <div class="f-row">
        <div class="f-wrap">
            <input type="text" class="f-field form-control" value="" placeholder="phone">
        </div>
    </div>
    <div class="f-row">
        <div class="f-wrap">
            <input type="text" class="f-field form-control" value="" placeholder="email">
        </div>
    </div>
    <div class="f-row">
        <div class="f-wrap">
            <input type="text" class="f-field form-control" value="" placeholder="website">
        </div>
    </div>
    <div class="f-row">
        <div class="f-wrap">
            <input type="text" class="f-field form-control" value="" placeholder="address">
        </div>
    </div>
    <div class="f-row">
        <div class="f-wrap">
            <input type="text" class="f-field form-control" value="" placeholder="short description">
        </div>
    </div>
    <div class="business-hours m-t-3">
        <div class="business-hours-left">
            <h6><img src="./assets/images/clock.svg" alt=""><span>business hours</span></h6>
        </div>
        <div class="business-hours-right">
            <a [routerLink]="[ '/user/seller/profile/business-hours' ]">
                <img src="./assets/images/hour-edit.svg" alt="">
            </a>
        </div>
    </div>
    <h4 class="form-heading m-t-3 m-b-05">social media links</h4>
    
    <div class="social-media-links">
        <div class="social-media-wrap">
            <span class="social-link-icon">
                <img src="./assets/images/insta.svg" alt="">
            </span>
            <div class="social-link-value">
                <input type="text" class="f-field form-control" value="" placeholder="instagram url">
            </div>
        </div>
        <div class="social-media-wrap">
            <span class="social-link-icon">
                <img src="./assets/images/fb.svg" alt="">
            </span>
            <div class="social-link-value">
                <input type="text" class="f-field form-control" value="" placeholder="facebook url">
            </div>
        </div>
        <div class="social-media-wrap">
            <span class="social-link-icon">
                <img src="./assets/images/youtube.svg" alt="">
            </span>
            <div class="social-link-value">
                <input type="text" class="f-field form-control" value="" placeholder="youtube url">
            </div>
        </div>
        <div class="social-media-wrap">
            <span class="social-link-icon">
                <img src="./assets/images/yelp.svg" alt="">
            </span>
            <div class="social-link-value">
                <input type="text" class="f-field form-control" value="" placeholder="yelp url">
            </div>
        </div>
    </div>
</form>