<div class="t-wrapper">
 
    <div class="t-body">
        <div class="signup-content">            
            <div class="f-form">
                <form novalidate>    
                    
                    <div class="f-row" style="text-align: center;">
                        <div class="f-100">
                            <div class="f-wrap">
                                <img src="./assets/images/thumbs.png" alt="">
                            </div>                            
                            <div class="f-wrap wrap-text">
                                <span>Mahalo</span>
                            </div>
                            <div class="f-wrap">
                                <p>let's get you setup</p>
                            </div>
                        </div>
                    </div>
                   <div class="sp-row">
                        <div class="sp-col col100">
                            <button (click)="btnClick();" type="button" class="btn btn-solid btn-dark">next</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
</div>
