<div class="pre-login-wrapper">
    <div class="pre-login-header">
        <h4 title="qrb" class="qrb-logo">
            <img src="./assets/images/qrb.svg" alt="qrb">
        </h4>
        <a [routerLink]="[ '/login' ]" class="btn btn-outline login-link">
            <h6>login</h6>
            <span>
                <img src="./assets/images/logout.svg" alt="">
            </span>
        </a>
    </div>
    <div class="pre-login-body">
        <h3 class="v-heading">restaurant tech company</h3>
        <ul class="sp-details">
            <li>
                <h6>honolulu</h6>
            </li>
            <li>
                <h6>since 2010</h6>
            </li>
        </ul>
        <ul class="resturant-list">
            <li>
                <div class="resturant-item">
                    <span class="resturant-icon">
                        <img src="./assets/images/gallery001.jpg" alt="">
                    </span>
                    <div class="resturant-description">
                        <h5>qr code display</h5>
                        <p>seamless integration for your menu with super fast qr code technology.</p>
                        <a [routerLink]="[ '/resturant' ]" class="explore-more">explore more</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="resturant-item">
                    <span class="resturant-icon">
                        <img src="./assets/images/gallery001.jpg" alt="">
                    </span>
                    <div class="resturant-description">
                        <h5>qr code display</h5>
                        <p>seamless integration for your menu with super fast qr code technology.</p>
                        <a [routerLink]="[ '/resturant' ]" class="explore-more">explore more</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="resturant-item">
                    <span class="resturant-icon">
                        <img src="./assets/images/gallery001.jpg" alt="">
                    </span>
                    <div class="resturant-description">
                        <h5>qr code display</h5>
                        <p>seamless integration for your menu with super fast qr code technology.</p>
                        <a [routerLink]="[ '/resturant' ]" class="explore-more">explore more</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="resturant-item">
                    <span class="resturant-icon">
                        <img src="./assets/images/gallery001.jpg" alt="">
                    </span>
                    <div class="resturant-description">
                        <h5>qr code display</h5>
                        <p>seamless integration for your menu with super fast qr code technology.</p>
                        <a [routerLink]="[ '/resturant' ]" class="explore-more">explore more</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>