<div class="t-wrapper">
    <div class="t-header t-head-wrap">
        <div class="t-header-inner">
            <button class="btn-back">
                <img src="./assets/images/backbtn.svg" alt="">
            </button>
            <h6>save</h6>
            <span>attachments</span>
        </div>
    </div>
    <div class="t-body">
        <div class="signup-content p-t-20">
            <div class="f-form">
                <div class="submitting-info">
                    <div class="submitting-info-top">
                        <p class="big-desc">mahalo! for submitting details</p>
                        <p class="medium-desc">enjoy dining at yogurstory!</p>
                    </div>
                    <div class="submitting-info-bottom">
                        <p class="small-desc">save this info for next time</p>
                        <div class="form-details">
                            <div class="f-row">
                                <div class="f-50">
                                    <label class="f-label">full name</label>
                                    <div class="f-wrap">
                                        <p class="sel-value">robert</p>
                                    </div>
                                </div>
                                <div class="f-50">
                                    <label class="f-label">phone number</label>
                                    <div class="f-wrap">
                                        <p class="sel-value">98888-6789</p>
                                    </div>
                                </div>
                            </div>
                            <div class="f-row">
                                <div class="f-100">
                                    <label class="f-label">home address</label>
                                    <div class="f-wrap">
                                        <p class="sel-value">262-5434410 ulupaina St. Kailua, Hawaii(HI), 96734 </p>
                                    </div>
                                </div>
                            </div>
                            <div class="f-row">
                                <div class="f-100">
                                    <label class="f-label big-label">attachments</label>
                                    <div class="f-wrap">
                                        <div class="uploaded-docs">
                                            <div class="uploaded-doc">
                                                <p>vaccine card</p>
                                                <span>
                                                    <img src="./assets/images/checkmark.svg" alt="">
                                                </span>
                                            </div>
                                            <div class="uploaded-doc">
                                                <p>id</p>
                                                <span>
                                                    <img src="./assets/images/checkmark.svg" alt="">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sp-row">
                    <div class="sp-col col100">
                        <button type="button" class="btn btn-outline-grey btn-solid btn-dark m-b-15">
                            <span>
                                <img src="./assets/images/save-white.svg" alt="">
                            </span>
                            <h6>save</h6>
                        </button>
                        <button type="button" class="btn btn-outline-grey">
                            <span>
                                <img src="./assets/images/fork-dark.svg" alt="">
                            </span>
                            <h6>menu</h6>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>