<form novalidate>
    <div class="f-row">
        <div class="f-wrap">
            <input type="text" class="f-field form-control" placeholder="business name">
        </div>
    </div>
    <div class="f-row">
        <div class="f-wrap">
            <input type="text" class="f-field form-control" placeholder="business location">
        </div>
    </div>
    <div class="f-row">
        <div class="f-wrap">
            <input type="text" class="f-field form-control" placeholder="established since">
        </div>
    </div>
    <div class="f-row">
        <div class="f-wrap">
            <input type="text" class="f-field form-control" placeholder="one liner / tagline">
        </div>
    </div>
</form>