<div class="text-align">Skip</div>
<div class="splash-step">
    <div class="splash-inner">
        <div class="splash-group">
            <label class="splash-label"><span class="step-count">4.</span>short description</label>
            <div class="splash-field m-t-1">
                <input type="text" class="form-field bg-light-grey" placeholder="eg., local’s favorite brunch" />
            </div>
            <div class="splash-btn-wrap m-t-3">
                <a [routerLink]="[ '/user/seller/splash/splashfive' ]"  class="btn btn-solid btn-dark">next</a>
            </div>
        </div>
        <div class="splash-msg">
            <p class="info-msg">Provide a short description about your restaurant - what do you serve? What are you known for?</p>
        </div>
    </div>
</div>