<div class="p-view">
    <div class="p-gallery">
        <ul class="gallery-view">
            <li>
                <a href="#!" class="gallery-item">
                    <img src="./assets/images/gallery001.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="#!" class="gallery-item">
                    <img src="./assets/images/gallery002.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="#!" class="gallery-item">
                    <img src="./assets/images/gallery003.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="#!" class="gallery-item">
                    <img src="./assets/images/gallery004.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="#!" class="gallery-item">
                    <img src="./assets/images/gallery001.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="#!" class="gallery-item">
                    <img src="./assets/images/gallery002.jpg" alt="">
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="view-body">
    <div class="view-options">
        <div class="view-option">
            <a [routerLink]="[ '/user/seller/profile//edit' ]" class="btn-link">edit profile</a>
        </div>
        <div class="view-option">
            <button class="btn-link">upload photos</button>
        </div>
    </div>
    <ul class="social-links">
        <li>
            <a href="#!" class="social-link">
                <img src="./assets/images/insta.svg" alt="">
            </a>
        </li>
        <li>
            <a href="#!" class="social-link">
                <img src="./assets/images/fb.svg" alt="">
            </a>
        </li>
        <li>
            <a href="#!" class="social-link">
                <img src="./assets/images/youtube.svg" alt="">
            </a>
        </li>
        <li>
            <a href="#!" class="social-link">
                <img src="./assets/images/yelp.svg" alt="">
            </a>
        </li>
    </ul>
    <p class="res-timings">mon - sun  |  7:00 am - 5:00 pm </p>
    <ul class="social-details">
        <li>
            <a href="tel:+1 808-942-0505" class="social-info">
                <span>
                    <img src="./assets/images/phone.svg" alt="">
                </span>
                <h6>+1 808-942-0505</h6>
            </a>
        </li>
        <li>
            <a href="mailto:contact@yogurstory.com" class="social-info">
                <span>
                    <img src="./assets/images/mail.svg" alt="">
                </span>
                <h6>contact@yogurstory.com</h6>
            </a>
        </li>
        <li>
            <a href="www.yogurstory.com" target="_blank" class="social-info">
                <span>
                    <img src="./assets/images/web.svg" alt="">
                </span>
                <h6>www.yogurstory.com</h6>
            </a>
        </li>
        <li>
            <div class="social-info">
                <span>
                    <img src="./assets/images/location.svg" alt="">
                </span>
                <h6>815 ke’eaumoku st, honolulu, hi 96814, usa</h6>
            </div>
        </li>
    </ul>
    <hr class="separator" />
    <p class="res-desc">dio venenatis ut nibh integer tortor, gravida augue euismod faucibus. Aliquet elementum arcu leo rhoncus tortor, lorem et purus, neque. Tellus cursus nec quis ullamcorper molestie risus elit lectus sit. Tortor interdum sagittis ultrices diam. Pharetra mauris cursus etiam nibh diam. </p>
</div>