// Website theme colors
$primaryTextColor: var(--primary-text-color, #2E2828);
$primaryDarkColor: var(--primary-dark-color, #000000);
$primaryWhiteColor: var(--primary-white-color, #ffffff);
$primaryGrayColor: var(--primary-grey-color, #E5E5E5);

$greyColor: var(--grey-color, #818181);
$darkGrayColor:var(--dark-grey-color, #DADADA);
$lightGrayColor:var(--light-grey-color, #eeeeee);
$fairGrayColor:var(--fair-grey-color, #F6F4F2);

$errorColor: var(--error-color, #EB5757);
$validColor: var(--valid-color, #89CFA6);
